<%= form_with(model: tiempo, local: true) do |form| %>
  <% if tiempo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tiempo.errors.count, "error") %> prohibited this tiempo from being saved:</h2>

      <ul>
      <% tiempo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div id="cajas"></div>
  <input type=button onclick="agregar_caja()" value="Agregar caja">

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
