<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @assignment.objective %>
</p>

<p>
  <strong>Group:</strong>
  <%= @assignment.group %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @assignment.assigned %>
</p>

<p>
  <strong>At:</strong>
  <%= @assignment.at %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
