
<%= form_with(model: objective, local: true) do |form| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
  <div class="panel panel default">
    <div class="panel">
      <h2 class="panel-header"><strong>Formulario</strong></h2>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="text-muted ">Objetivo</div>
        <%= form.text_field :description, class:"form-control", placeholder: "Escriba el objetivo"%>
      </div>
<br>
      <div class="container">
        <div class="text-muted">Periodo de Tiempo</div>
        <div class="row">
          <div class="col">
            <%= form.text_field :period_value, class: "form-control", placeholder: "Periodo de tiempo"%>
          </div>
          <div class="col">
          <%=form.number_field :tiempo_id, placeholder: "Escirba periodo de tiempo", class:"form-control"%>
          </div>
        </div>
      </div>
<br>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-muted">grupo</div>
            <br>
          </div>
          <div class="col">
            <div class="text-muted">nombre del grupo</div>
            <br>
      </div>

      

      <div class="container"> <div class="text-muted">Descripcion del key result</div>
      
      <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <%= form.text_field :user_id, placeholder: "Escribe el usuario", class:"form-control" %>
            </div>
          </div>
        </div>
      
      </div>
    </div>
<br>
    <%= form.fields_for(:key_results) do |result| %>

    <div class="container">
        <div class="row">
      <div class="col text-muted">Key Results</div> <div class="col text-muted"> Tipo de medida</div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col">
        <%=result.text_field :description,placeholder:"Descripcion del Key Result",class:"form-control"%>
      </div>
      <div class="col-md-4">
      <%= result.text_field :kr_measure_id,placeholder:"Como deseas medir el okr",class:"form-control"%>
      </div>
    </div>
    <br>  
    <br>
  </div>
  <%end%>
<br>
    <div class="container">
      <%=form.submit "Guardar", class:"btn btn-primary"%>
    </div>
    <%end%>
</center>

  
