<%= form_with(model: objective, local: true) do |form| %>
  <% if objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :Descripcion%><br>
  <%= form.text_field :description, placeholder: "Escriba el objetivo", class:"form-control"%>
  </div>

  <div class="field">
  <%= form.label :Periodo%><br>
  <%= form.number_field :period_value, placeholder: "Escriba el objetivo", class:"form-control"%>
  </div>

  <div class="field">
  <%= form.label :Numero%><br>
  <%=form.text_field :tiempo_id, placeholder: "Escirba periodo de tiempo", class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :user_id, placeholder: "Escribe el usuario", class:"form-control" %>
  </div>

  <%= form.fields_for(:key_results) do |result| %>
    <br><%= result.label :Descripcion_OKR %>
    <%=result.text_field :description, class:"form-control"%>
    <br>
    <%= result.label :Medida%><br>
    <%= result.text_field :kr_measure_id, class:"form-control"%>
  
    <br><br>
    <%end%>
    <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
