<script>
function agregar_caja(){
document.getElementById("cajas").innerHTML+="<br><div class='row'><div class='col'><input type=text class='form-control' placeholder='Descripcion del Key Result' name='caja'></div><div class='col-md-4'><input type=text class='form-control' placeholder='Seleccione una' name='caja'></div><br>"
}</script>
<%= form_with(model: objective, local: true) do |form| %>
  <center>
  <div class="panel panel default">
    <div class="panel">
      <h2 class="panel-header"><strong>Formulario</strong></h2>
    </div>

    <div class="container">
    <% if objective.errors.any? %>
    <div  class="alert alert-danger">                
      <h5><%= pluralize(objective.errors.count, "error") %> no permiten que se guarde el formulario</h5>
        <ul class="list-group">
          <% objective.errors.full_messages.each do |message| %>
          <li class=><%= message %></li>
          <% end %>
        </ul>
    </div>
    <% end %>
    </div>

    <div class="panel-body">
      <div class="container">
        <div class="text-muted ">Objetivo</div>
        <%= form.text_field :description, class:"form-control", placeholder: "Escriba el objetivo"%>
      </div>
<br>
      <div class="container">
        <div class="text-muted">Periodo de Tiempo</div>
        <div class="row">
          <div class="col">
            <%= form.text_field :period_value, class: "form-control", placeholder: "Periodo de tiempo"%>
          </div>
          <div class="col">
          <%= form.select(:tiempo_id,options_for_select(
                  [["Selecciona una", ""], ["Años","1"], ["Meses","2"], ["Semanas","3"], ["Dias","4"]]),{},{ class:"form-control custom-select"})%>
          </div>
        </div>
      </div>
<br>
      <div class="container"> <div class="text-muted">Usuario</div>
      
      <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <%= form.select(:user_id, options_from_collection_for_select(User.all, "id","name", params[:objective]),{},{ class:"form-control custom-select"} )%>
            </div>
          </div>
        </div>
      
      </div>
    </div>
<br>
    <%= form.fields_for(:groups) do |group| %>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-muted">Nombre de Grupo</div>
            <%=group.text_field :name,placeholder:"Nombre del grupo",class:"form-control"%>
            <br>
          </div>
          <div class="col">
            <div class="text-muted">Tipo de grupo</div>
            <%= group.select(:group_type_id,options_for_select(
                  [["Selecciona una", ""], ["Empresa","1"], ["Equipo","2"], ["Personal","3"]]),{},{ class:"form-control custom-select"})%>
            <br>
      </div><%end%>

<br>
    <%= form.fields_for(:key_results) do |result| %>

    <div class="container">
        
      <div class="col text-muted">Key Results</div> 
        <%=result.text_field :description,placeholder:"Descripcion del Key Result",class:"form-control"%>

    </div>
<br>
    <div class="container">
    <div class="col text-muted">Medida</div>
    <div class="row">
    <div class="col">
    <%= result.text_field :description,placeholder:"Valor",class:"form-control"%>
    </div>
    <div class="col"><%= result.select(:kr_measure_id,options_for_select(
      [["Selecciona una", ""], ["Porcentaje","1"], ["Numero","2"], ["Boolean","3"]]),{},{ class:"form-control custom-select"})%>
    </div>
    
    </div>
    <div id="cajas"></div>
    <br>
  </div>
  
  <div class="container">
  <input type=button onclick="agregar_caja()" value="+" class="btn btn-primary">
  </div>
<br><br>
  <div class="container">
  <div class="text-muted">Fecha</div>
  <%=result.text_field :fecha, placeholder:"AAAA-MM-DD", class:"form-control"%>  
  </div>
  
  <%end%>

    <div class="container">
    <br> <%=form.submit "Guardar", class:"btn btn-primary"%>
    </div>
    <%end%>
    
</center>
