<br><br><br>
<center>
<h1>Formulario</h1>
  <%= form_with(model: objective, local: true) do |form| %><br>
  <%= form.label :Descripcion%><br>
  <%= form.text_field :description, placeholder: "Escriba el objetivo", class:"form-control"%>
  <br>
  <%= form.label :Periodo%><br>
  <%= form.text_field :period_value, placeholder: "Escriba el objetivo", class:"form-control"%>
  <br>
  <%= form.label :Numero%><br>
  <%=form.text_field :tiempo_id, placeholder: "Escirba periodo de tiempo", class:"form-control"%>
  <br>
  <%= form.fields_for(:key_results) do |result| %>
    <br><%= result.label :Descripcion_OKR %>
    <%=result.text_field :description, class:"form-control"%>
    <br>
    <%= result.label :Medida%><br>
    <%= result.text_field :kr_measure_id, class:"form-control"%>
  
    <br><br>
    <%end%>
    <br>
    <div class=”actions”>

   <%= form.submit %>
</div>
<%end%>

  

</center>