<style>
.customLink:link{
  background-color: none;
  color: black;
}
.customLink:hover, customLink:active {
  text-decoration: underline;
  background: none;
  color: gray;
}



</style>
<p id="notice"><%= notice %></p>
<center>
<h1>Objectives</h1>
<div class='container'>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="row">Descripcion</th>
      <th scope="row">Periodo de tiempo</th>
      <th scope="row">Usuario</th>
      <th scope="row">Ky</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objectives.each do |objective| %>
      <tr>
        <td><%= objective.description %></td>
        <td><%= objective.period_value %> <%= objective.tiempo.name %></td>
        <td><%= objective.user.name %></td>
        <td><%= objective.key_results.map{|k|k.description}.join(",")%></td>
        <td><%= link_to 'Show', objective, class:"customLink" %></td>
        <td><%= link_to 'Edit', edit_objective_path(objective), class:"customLink" %></td>
        <td><%= link_to 'Destroy', objective, method: :delete, data: { confirm: 'Are you sure?' }, class:"customLink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
| <%= link_to 'New Objective', new_objective_path, class:"customLink" %> |
</center>
</div>