<br><br><br>
<center>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @objective.user.name%>
</p>

<p>
  <strong>Descripcion del objetivo:</strong>
  <%= @objective.description%>
</p>

<p>
  <strong>Periodo de Tiempo:</strong>
  <%= @objective.period_value %> <%= @objective.tiempo.name%>
</p>
<p>
  <strong>Okr:</strong>
  <%=@objective.key_results%>
  
</p>
<p><strong>key_results</strong></p>
 
<% if @objective.key_results.any? %>
  <ul>
    <% @objective.key_results.each do |result| %>
    <li><%= link_to result, result %></li> 
    <% end %>
  </ul>
<% else %>
  <p>no hay key_results</p>
<% end %>
<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
</div>
</center>

