<br><br><br>
<center>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @objective %>
</p>
<p>Key Result</p>
<% if @objective.key_results.any? %>
  <ul>
    <% @objective.key_results.each do |result| %>
    <li><%= link_to result, result %></li>
    <% end %>
  </ul>
<% else %>
  <p>no hay sucursales</p>
<% end %>


<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
</div>
</center>

