<br><br><br>
<center>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @objective.user.name%>
</p>

<p>
  <strong>Descripcion del objetivo:</strong>
  <%= @objective.description%>
</p>

<p>
  <strong>Periodo de Tiempo:</strong>
  <%= @objective.period_value %> <%= @objective.tiempo.name%>
</p>
<p>
  <strong>Okr:</strong>
  
</p>
<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
</div>
</center>

