<br><br><br>
<center>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>user_id:</strong>
  <%= @objective.user.name%>
</p>

<p>
  <strong>description:</strong>
  <%= @objective.description%>
</p>

<p>
  <strong>period_value:</strong>
  <%= @objective.period_value %>
</p>
<p>
  <strong>tiempo_id:</strong>
  <%= @objective.tiempo_id %>
</p>
<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
</div>
</center>

