<br>
<%= form_with(model: user, local: true) do |form| %>
    <center>
        <div class="container" >
                <div class="panel">
                        <h2 class="panel-header"><strong>Registro</strong></h2>
                    </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm"> </div>
                    <div class="col-md-6">
                    <% if user.errors.any? %>
                    <div  class="alert alert-danger">
                    
                      <h5><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h5>
                      <ul class="list-group">
                      <% user.errors.full_messages.each do |message| %>
                        <li class=><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                        <div class="container">
                        <label form="user">Usuario</label><br>
                        <%= form.text_field :name, placeholder: "Usuaio...", class: "form-control"%>
                        </div>
                        <br>
                        <div class="container">
                        
                        <%= form.label :Contraseña%>
                        <%= form.password_field :password, placeholder: "Contraseña", class: "form-control"%>
                        
                        </div><br>
                        <div class="container">
                            <%=form.submit "Guardar", class:"btn btn-primary"%>
                        </div>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <%end%>
            </center>