<br><br><br>
<%= form_with(model: user, local: true) do |form| %>
  <html>
    <title>Login 2</title>
    <head></head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link type="text/css" href="style.css" rel="stylesheet"/> 
<body>
    <center>
        <div class="container" >
                <div class="panel">
                        <h2 class="panel-header"><strong>Registro</strong></h2>
                    </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm"> </div>
                    <div class="col-md-6">
                    <% if user.errors.any? %>
                    <div  class="alert alert-danger">
                    
                      <h5><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h5>
                      <ul class="list-group">
                      <% user.errors.full_messages.each do |message| %>
                        <li class=><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                        <div class="container">
                        <%=form.label :Usuaio %>
                        <%= form.text_field :name, placeholder: "Usuaio...", class: "form-control"%>
                        </div>
                        <br>
                        <div class="container">
                        
                        <%= form.label :Contrasenia%>
                        <%= form.password_field :password, placeholder: "Contrasena", class: "form-control"%>
                        
                        </div><br>
                        <div class="container">
                            <%= form.submit%>
                        </div>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <%end%>
            </center>
</body>
</html>

