<br><br><br>
<center>
<div class="container">
<div class="card">
<div class="card-body">
<strong class="cart-title">Usuario creado</strong><br><br>

<table class="table">
<tbody>
 <tr>
  <th scope="row">
    <strong class="card-subtitle mb-2 text-muted">User Name:</strong>
  </th>
  <td>
    <%= @user.name %>
  </td>
 </tr>

 <tr>
  <th scope="row">
    <strong class="card-subtitle mb-2 text-muted">Password:</strong>
  </th>
  <td>
    <%= @user %>
  </td>
 </tr>

</tbody>
</table>

<p id="notice"><%= notice %> <span class="glyphicon glyphicon-ok"></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</div>
</center>

