<center>
<%= form_with(model: key_result, local: true) do |form| %>
  <% if key_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(key_result.errors.count, "error") %> prohibited this key_result from being saved:</h2>

      <ul>
      <% key_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center>

<h2><stronger>key_result</stronger></h2>
    <div class="container">
    <div class="text-muted">Descripcion</div>
    <%= form.text_field :description, class:"form-control", placeholder:"Agregue una descripcion" %>
    </div>
<br>

  <div class="container">
    <div class="text-muted">Objetivo</div>
    <%= form.select(:objective_id, options_from_collection_for_select(
      Objective.all, "id","description", params[:key_result]),{},{ class:"form-control custom-select"} )%>
  </div>
  <br>
  <div class="container">
  <div class="text-muted">Medida</div>
  <div class="row">
  <div class="col">
  <%= form.text_field :value, class:"form-control", placeholder:"Agregue un valor"%>
  </div>
  <div class="col"><%= form.select(:kr_measure_id,options_for_select(
    [["Selecciona una", ""], ["Prociento","1"], ["Numerico","2"], ["Boolean","3"]]),{},{ class:"form-control custom-select"})%>
    </div>           
  <div>
  </div>

  <div class="container">
    <div class="text-muted">Fecha</div>
    <%=form.date_field :fecha, class:"form-control", placeholder:"AAAA-MM-DD" %>
  </div>

<br>
  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-primary" %>
     </div>
</center>
</div>
  
  
<% end %>
</center>