<br><br><br>
<center>
<div class="container">
<div class="card">
<div class="card-body">
<strong class="cart-title">Key Result Creado</strong><br><br>
<table class="table">

<tr>
<th scope="row">
  <strong>Objective:</strong>
</th>
<td>
  <%= @key_result.objective.description %>
</td>
</tr>

<tr>
<th scope="row">
  <strong>Description:</strong>
</th>
<td>
  <%= @key_result.description %>
</td>
</tr>  

<tr>
<th scope="row">
  <strong>Kr measure:</strong>
</th>
<td>
  <%= @key_result.kr_measure.name %>
</td>
</tr>
</tbody>
</table>

<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_key_result_path(@key_result) %> |
<%= link_to 'Back', key_results_path %>
</div>
</div>
</div>
</center>