<br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @key_result.objective.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @key_result.description %>
</p>  


<p>
  <strong>Kr measure:</strong>
  <%= @key_result.kr_measure.name %>
</p>

<%= link_to 'Edit', edit_key_result_path(@key_result) %> |
<%= link_to 'Back', key_results_path %>
