<br><br><br>
<center>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion del key result:</strong>
  <%= @key_result.description%>
</p>

<p>
  <strong>Periodo de Medida:</strong>
  <%= @key_result.kr_measure_id %>
</p>

<%= link_to 'Edit', edit_key_result_path(@key_result) %> |
<%= link_to 'Back', key_results_path %>
</div>
</center>

