<!DOCTYPE html>
<html>
  <head>
    <title>Okr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
      <span class="navbar-toggler-icon leftmenutrigger"></span>
      
      <%=link_to 'inicio', root_path%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
            <%=link_to 'Inicio', root_path, class:'nav-link'%>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
          <%=link_to 'Nuevo Usuario', new_user_path, class:'nav-link'%>
          </li>
          <li class="nav-item">
          <%=link_to 'Formulario', new_form_path, class:'nav-link'%>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
          <%=link_to 'Inicio', root_path, class:'nav-link'%>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
          <%=link_to 'Inicio', root_path, class:'nav-link'%>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </nav>
    
  </header>

  <body>    
    <%= yield %>
  </body>
</html>
  