<!DOCTYPE html>
<style>
.customLink:link{
  background-color: none;
  color: black;
}
.customLink:hover, customLink:active {
  text-decoration: underline;
  background: none;
  color: gray;
}


</style>
<html>
  <head>
  
    <title>Okr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>
  <header>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <div class="container fluid">
      <a class="navbar-brand"><%=link_to 'Inicio', root_path, class:"customLink"%></a>
      <a class="navbar-brand"><%=link_to 'Objetivos', objectives_path, class:"customLink"%></a>
      <a class="navbar-brand"><%=link_to 'User', users_path, class:"customLink"%></a>
    </div>
    <span class="navbar-toggler-icon"></span>
        </nav>

  </header>

  <body> 
  <br><br><br>   
    <%= yield %>
  </body>
</html>
  